<div ng-controller="carouselController">

	<div id="carousel">

		<carousel interval="carouselInterval">

			<slide ng-repeat="slide in slides" active="slide.active">

				<img id="carouselImg" ng-src="{{ slide.image }}">

				<div class="carousel-caption">
				
					<h4>{{ slide.title }}</h4>

					<p>{{ slide.text }}</p>

				</div><!-- end carousel-caption -->

			</slide>

		</carousel>

	</div>

</div><!-- end carousel -->

<div class="row" id="bigCallout">

	<div class="col-xs-12" ng-controller="alertController">

		<div>

			<alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)"><h4>{{ alert.title }}</h4>{{ alert.msg }}</alert>

		</div><!-- end alertCtrl -->

		<!-- visible only on small and xs devices -->
		<div class="well well-small visible-sm visible-xs">
			
			<a href="" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-phone"></span> Give us a call!</a>

		</div><!-- end well-small -->

		<div class="well">
				
				<div class="page-header">

					<h1>A Fancy Header <small>A subheader for super ultra awesome.</small><h1>

				</div><!-- end page-header -->

				<p class="lead">

					Some solid leading copy will help get your users engaged. Use this area to come up with something real nice. Know what I mean?

				</p><!-- end lead -->

				<a href="" class="btn btn-large btn-primary" ng-click="addAlert()">Click a nice big button</a>

				<a href="" class="btn btn-large btn-link">Or a secondary link</a>

		</div><!-- end well -->

	</div><!-- end col-12 -->

</div><!-- end BigCallout -->

<div class="row" id="featuresHeading">

	<div class="col-xs-12">

		<h2>More Features</h2>
		<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>

	</div><!-- end col-12 -->

</div><!-- end featuresHeading -->

<div class="row" id="features">

	<div class="col-sm-4 feature">
		
		<div class="panel panel-default">

			<div class="panel-heading">

				<h3 class="panel-title">Markup with HTML5</h3>
				
			</div><!-- end panel-heading -->

				<div class="panel-body">

					<img src="images/badge_html5.jpg" alt="HTML5" class="img-circle">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt.</p>

					<a href="/courses/html5" target="_blank" class="btn btn-danger btn-block">Learn to Code HTML5</a><!-- target="_blank" opens the link in a new window -->

				</div><!-- end panel-body -->

		</div><!-- end panel -->

	</div><!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		
		<div class="panel panel-default">

			<div class="panel-heading">

				<h3 class="panel-title">Style with CSS3</h3>
				
			</div><!-- end panel-heading -->

				<div class="panel-body">

					<img src="images/badge_css3.jpg" alt="CSS3" class="img-circle">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt.</p>

					<a href="/courses/css3" target="_blank" class="btn btn-warning btn-block">Style it Up with CSS3</a><!-- target="_blank" opens the link in a new window -->

				</div><!-- end panel-body -->

		</div><!-- end panel -->

	</div><!-- end col-sm-4 -->

	<div class="col-sm-4 feature">
		
		<div class="panel panel-default">

			<div class="panel-heading">

				<h3 class="panel-title">Framework by Bootstrap 3</h3>
				
			</div><!-- end panel-heading -->

				<div class="panel-body">

					<img src="images/badge_bootstrap.jpg" alt="Bootstrap 3" class="img-circle">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt.</p>

					<a href="/courses/bootstrap" target="_blank" class="btn btn-info btn-block">More Bootstrap</a><!-- target="_blank" opens the link in a new window -->

				</div><!-- end panel-body -->

		</div><!-- end panel -->

	</div><!-- end col-sm-4 -->

</div><!-- end features -->

<div class="row" id="moreInfo">
	
	<div class="col-sm-6">
		
		<h3>Neat Tabbable Content</h3>

		<div ng-controller="tabsController">
			
			<tabset>

				<tab heading="Section 1">
					
					<h4><span class="glyphicon glyphicon-map-marker"></span>Our Location <small>More like our favorite surf spot...</small></h4>

					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3308.255013438071!2d-118.473322!3d33.985983!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bab991070f5d%3A0x27b55314cd1f58d1!2sVenice+Beach!5e0!3m2!1sen!2sus!4v1425932599520" width="100%" height="200" frameborder="0" style="border:0"></iframe>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				</tab><!-- end static tab 1 -->

				<tab heading="Section 2">
					
					<h4>A Left Floated Picture <small>Using Placehold.it</small></h4>

					<img src="https://placehold.it/140" class="thumbnail pull-left">

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<hr>

					<button class="btn btn-info" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>

					<hr>							

					<div id="myModal" ng-controller="modalController">

						<script type="text/ng-template" id="myModalContent.html">

							<div class="modal-header">

								<h3 class="modal-title">A Modal Window</h3>

							</div><!-- end modal-header -->

							<div class="modal-body">

								<h4>Text in a Modal</h4>

								<p>
									Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								</p>

								<div ng-controller="popoverController">

									<h4>Popovers in a Modal</h4>

									<button popover-placement="right" popover="{{ dynamicPopover }}" popover-title="{{ dynamicTitle }}" class="btn btn-danger">

										Don&#39;t Click This Button

									</button>

								</div><!-- end popoverController -->

								<div ng-controller="tooltipController">

									<h4>Tooltips in a Modal</h4>

									<a href="#" tooltip-placement="top" tooltip="{{ dynamicTooltip1 }}">This link</a> should have a tooltip, and so should <a href="#"  tooltip-placement="bottom" tooltip="{{ dynamicTooltip2 }}">this one</a>!

								</div><!-- end tooltipController -->

								<hr>

								<p><small class="text-muted">This form doesn&#39;t do anything. Just a heads up.</small></p>

								<form class="form-horizontal">

									<div class="form-group">

										<label class="col-lg-2 control-label" for="inputName">Name</label>

										<div class="col-lg-10">

											<input class="form-control" id="inputName" placeholder="Name" type="text" ng-model="user.name">

										</div><!-- end col-lg-10 -->

									</div><!-- end name form-group -->

									<div class="form-group">

										<label class="col-lg-2 control-label" for="inputEmail">Email</label>

										<div class="col-lg-10">

											<input class="form-control" id="inputEmail" placeholder="Email" type="email" ng-model="user.email">

										</div><!-- end col-lg-10 -->

									</div><!-- end email form-group -->

									<div class="form-group">

										<label class="col-lg-2 control-label" for="inputMessage">Message</label>

										<div class="col-lg-10">

											<textarea class="form-control" id="inputMessage" placeholder="Message" rows="3" ng-model="user.message"></textarea>

											<button class="btn btn-success pull-right" type="submit">Send!</button>

										</div><!-- end col-lg-10 -->

									</div><!-- end form-group -->

								</form><!-- end form-horizontal -->

					            <ul>

					                <li ng-repeat="item in items">

					                    <a ng-click="selected.item = item">{{ item }}</a>

					                </li>

					            </ul>

					            Selected: <b>{{ selected.item }}</b>

					        </div><!-- end modal-body -->

					        <div class="modal-footer">

					            <button class="btn btn-primary" ng-click="ok()">OK</button>

					            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>

						    </div><!-- end modal-footer -->

						</script><!-- end myModalContent.html -->

						<button class="btn btn-warning" ng-click="open()">

							<span class="glyphicon glyphicon-hand-up"></span> Click for a modal window.

						</button>

					</div><!-- end myModal -->

				</tab><!-- end static tab 2 -->

				<tab ng-repeat="tab in tabs" heading="{{ tab.title }}" active="tab.active" disabled="tab.disabled">

					<h4>{{ tab.subtitle }} <small>by {{ tab.author }} @ {{ tab.time }} {{ tab.timezone }} {{ tab.date }}</small></h4>

					<img src="{{tab.img}}" class="thumbnail pull-left">

					<p>{{ tab.content  }}</p>

					<p>{{ tab.content  }}</p>

				</tab> <!-- end ng-repeat -->

				<tab select="alertMe()">

					<tab-heading>

						<span class="glyphicon glyphicon-bell"></span> Alert!

					</tab-heading>

					<p>I've got an HTML heading, and a select callback! Boo-ya!</p>

				</tab><!-- end alertMe tab -->

			</tabset>

		</div><!-- end tabsCtrl -->

	</div><!-- end col-sm-6 -->

	<div class="col-sm-6">

		<h3>Some Text Info</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<h4>A List Group</h4>

		<div class="list-group">
			
			<a href="#" class="list-group-item">

				<h4 class="list-group-item-heading">Kale</h4>

				<p class="list-group-item-text">Kale or borecole is a vegetable with green or purple leaves, in which the central leaves do not form a head.</p>

			</a><!-- end list-group-item -->

			<a href="#" class="list-group-item">

				<h4 class="list-group-item-heading">Carrots</h4>

				<p class="list-group-item-text">The carrot is a root vegetable, usually orange in color, though purple, red, white, and yellow varieties exist. It has a crisp texture when fresh.</p>

			</a><!-- end list-group-item -->

			<a href="#" class="list-group-item">

				<h4 class="list-group-item-heading">Steel-Cut Oats</h4>

				<p class="list-group-item-text">Steel-cut oats are whole grain  groats which have been cut into pieces. They are commonly used in Scotland and Ireland to make porridge.</p>

			</a><!-- end list-group-item -->

		</div><!-- end list-group -->

		<h4>A Small Heading</h4>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	</div><!-- end col-sm-6 -->

</div><!-- end moreInfo -->

<hr>

<div class="row" id="moreCourses">

	<div class="col-12">
		
		<h3>Learn More About Web Design</h3>

		<div class="thumbnails row">

			<div class="col-sm-6">
				
				<div class="thumbnail">
					
					<img src="images/item_psd2html5.jpg" alt="PSD to HTML5 &amp; CSS3">

					<div class="label label-success price"><span class="glyphicon glyphicon-tag"></span> <sup>$</sup>39</div>

					<div class="caption">

						<h3>PSD to HTML5 &amp; CSS3</h3>

						<p>Learn how to take a PSD and turn it into a beautiful, hand-coded HTML5 &amp; CSS3 website with this web design crash course.</p>

						<p><a href="" class="btn btn-primary btn-small" target="_blank">Take Course</a> <a href="" target="_blank" class="btn btn-small btn-link">Learn More</a></p>

					</div><!-- end caption -->

				</div><!-- end thumbnail -->

			</div><!-- end col-6 -->

			<div class="col-sm-6">
				
				<div class="thumbnail">
					
					<img src="https://placehold.it/570x321" alt="">

					<div class="label label-info price"><span class="glyphicon glyphicon-tag"></span> Free</div>

					<div class="caption">

						<h3>Web Hosting 101</h3>

						<p>Learn how to publish your own website live in no time with this web hosting crash course. Plus setup your first Wordpress site in 5-minutes!</p>

						<p><a href="" class="btn btn-primary btn-small" target="_blank">Take Course</a> <a href="" target="_blank" class="btn btn-small btn-link">Learn More</a></p>

					</div><!-- end caption -->

				</div><!-- end thumbnail -->

			</div><!-- end col-6 -->

		</div><!-- end row -->

	</div><!-- end col-12 -->

</div><!-- end moreCourses -->