/*

My Custom CSS
=============

Author:  David Newman

*/


/* --------------------------------------
   Layout
   -------------------------------------- */
    #features {
    	text-align: center;
    }

    #features img {
    	margin: 0 0 20px;
    }

    #inputMessage {
      margin-bottom: 15px;
    }

    footer {
      background: #333;
      color: #eee;
      font-size: 11px;
      padding: 20px;
    }

/* --------------------------------------
   Typography
   -------------------------------------- */
    body {
    	-webkit-font-smoothing: antialiased;
    	text-rendering: optimizelegibility;
    }

    .well .page-header {
   		margin-top: 0;
    }

    .well .page-header h1 {
    	margin-top: 0;
    }

    ul.unstyled {
      list-style: none;
      padding: 0;
    }


/* --------------------------------------
   Navbar
   -------------------------------------- */
	#searchInput {
		width: 200px;
	}
   
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
    #carousel {
   		margin-top: 60px;
    }

    #carouselImg {
    	margin: auto;
    }

    .carousel-caption {
    	font-size: 24px;
    }

    .carousel-caption h4 {
    	font-size: 32px;
    }


/* --------------------------------------
   Global Styles
   -------------------------------------- */
   /* Required by UI Bootstrap. Refer to UI Bootstrap documentation */

	.nav, .pagination, .carousel, .panel-title a {
		cursor: pointer;
	}

	.alert {
		margin-top: 20px;
	}

	.well {
		margin: 20px;
	}

  img.thumbnail {
    margin: 0 20px 10px 0;
  }

  .thumbnails {
    margin: 20px 0;
  }

  .thumbnail {
    position: relative;
  }

  .thumbnail h3 {
    font-size: 16px;
    margin: 0 0 10px;
    line-height: 20px;
  }

  .thumbnail .price {
    font-size: 22px;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 10px;
  }

  .thumbnail .price sup {
    font-weight: normal;
    font-size: 12px;
  }

  .thumbnail span.glyphicon {
    margin-right: 5px;
  }


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .carousel-caption {
    font-size: 10px;
  }

  .carousel-caption h4 {
    font-size: 12px;
  }

  .thumbnail .price {
    font-size: 14px;
  }

  .thumbnail .price sup {
    font-size: 10px;
  }

}

/* Extra Small Devices, Phones; Portrait & landscape phone */ 
@media only screen and (min-width : 480px) {
  .carousel-caption {
    font-size: 10px;
  }

  .carousel-caption h4 {
    font-size: 12px;
  }

  .thumbnail .price {
    font-size: 14px;
  }

  .thumbnail .price sup {
    font-size: 10px;
  }
}

/* Small Devices, Tablets; Landscape Phones, Portrait Tablets */
@media only screen and (min-width : 768px) {
  .carousel-caption {
    font-size: 14px;
  }

  .carousel-caption h4 {
    font-size: 16px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}